*~
*.bak
/DOXY/
*#
*.save
*.depend
*.out
*.o
*.dat
*.pdf
*.DS_Store
*.sync
makefile
Makefile
*.dot
*.d
*.h5
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
/docu/auto
*.css
*.bbl
*.bcf
*.blg
*.run.xml
*.3j
*.6j
*.9j
*.synctex.gz